.individual-player-wrapper {
    outline: solid black 2px;
    padding: 8px;
    height: 35vh;
    width: 22vw;
    min-width: 240px;
    min-height: 320px;
    margin: 8px;
    display: flex;
    flex-direction: column;
}

.player-details {
    align-self: flex-start;
}

.cards-container {
    flex-grow: 3;
    margin-top: 8px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.big-card {

    height: 18vh;
}
.small-card {

    height: 12vh;
}
.big-card.not-first-card {
    margin-left: -120px;
}
.small-card.not-first-card{
    margin-left: -75px;


}

.player-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}