#login-form{
    margin-top: 3em;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form-input{
    width: 300px;
    padding: 3em;
}

.error-message{
    padding-top: 1em;
    color:red;
    height: 36px;
    font-size: 75%;
}

.form-buttons-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-error-container {

    color: red;
    width: 450px;
}

.login-error-message {
    margin-bottom: 16px;
    color: red;
  }