#new-user-form{
    margin-top: 3em;
    width: 450px;
}

.signup-form-input{
    width: 300px;
}

.error-message{
    padding-top: 1em;
    color:red;
    height: 36px;
    font-size: 75%;
}

.form-buttons-group{
    display:flex;
    flex-direction:row;
    justify-content: space-between;

}


.MuiButton-contained {
    width: 35%;
}